@font-face {
  font-family: TitleFont;
  src: url(../font/TitleFont.otf); }
* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }

body {
  background-color: #ffffff;
  overflow-x: hidden; }

h1, h2 {
  text-transform: uppercase; }

h1, h2, h3, h4, h5, p {
  font-family: "Open Sans", helvetica, sans-serif; }

h4 {
  color: #333;
  font-size: 1.4rem;
  text-align: center; }

input[type="number"] {
  background-color: #F2F2F2;
  border: #818c98 1px solid;
  border-radius: 4px; }

.absolute-wrapper {
  display: block;
  position: absolute;
  top: 0;
  width: 100%; }

.absolute-wrapper.active {
  display: block; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: all 200ms cubic-bezier(0.665, -0.055, 0.325, 1.06);
  transition: all 200ms cubic-bezier(0.665, -0.055, 0.325, 1.06); }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: all 200ms cubic-bezier(0.665, -0.055, 0.325, 1.06);
    transition: all 200ms cubic-bezier(0.665, -0.055, 0.325, 1.06);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5); }

input:checked + .slider {
  background-color: #08C1CF;
  border-color: #067982; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5); }

.slider.round {
  border-radius: 34px;
  border: 1px solid #818c98; }
  .slider.round::before {
    border-radius: 50%; }

.button {
  display: block;
  padding: 15px 20px;
  border: none;
  text-align: center;
  font-family: "Open Sans", helvetica, sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  color: #333;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600; }

.primary {
  background-color: #08C1CF;
  color: #ffffff; }

.secondary {
  color: #08C1CF;
  border: 1.5px dashed #08C1CF;
  background-color: transparent; }

.tertiary {
  background-color: #58687a;
  color: #ffffff; }

.quartiary {
  color: #ffffff;
  border: 1.5px dashed #ffffff;
  background-color: transparent; }

.button-nav img,
.button-nav button {
  width: 25px;
  height: 25px; }

.button-nav-main {
  z-index: 3;
  right: 16px;
  padding: 10px;
  top: 5px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.755, -0.46, 0.195, 1.425); }

nav {
  width: 100%;
  height: 55px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.19); }
  nav h1 {
    font-size: 1.1rem;
    margin-top: 15px;
    color: #333;
    font-weight: 700;
    z-index: 1;
    position: relative; }
  nav h1:before {
    content: "";
    background-image: url(../resources/img/arrow-left.svg);
    width: 24px;
    background-size: 20px;
    display: inline-block;
    height: 15px;
    margin-right: 10px;
    background-repeat: no-repeat;
    margin-left: -15px;
    transition: 0.2s ease-in-out;
    opacity: 0; }
  nav .is-sub:before {
    margin-left: 20px;
    opacity: 1; }
  nav .menu ul {
    height: 0px;
    background: #ffffff;
    border-top: 1px solid #d0d0d0;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    z-index: 0;
    transform: scaley(0);
    transform-origin: 0 0;
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.19); }
    nav .menu ul .button-nav {
      display: inline-block;
      width: 32%;
      text-align: center;
      padding-top: 10px; }
  nav.active ul {
    transform: scaley(1);
    height: 70px; }

.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 25px;
  transition: all 300ms cubic-bezier(0.755, -0.46, 0.195, 1.425);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.tcon > * {
  display: block; }

.tcon:hover, .tcon:focus {
  outline: none; }

.tcon::-moz-focus-inner {
  border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 3.71429px;
  width: 25px;
  border-radius: 2.85714px;
  transition: all 300ms cubic-bezier(0.755, -0.46, 0.195, 1.425);
  background: #333;
  position: relative; }

.tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 3.71429px;
  width: 25px;
  border-radius: 2.85714px;
  transition: all 300ms cubic-bezier(0.755, -0.46, 0.195, 1.425);
  background: #333;
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%; }

.tcon-menu__lines::before {
  top: 10px; }

.tcon-menu__lines::after {
  top: -10px; }

.tcon-transform .tcon-menu__lines {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  left: -5px;
  width: 35px; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg); }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.margin-base {
  padding: 10px 10px;
  margin: 0 10px; }

.outline li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid; }
  .outline li:last-child {
    border: none; }
  .outline li p {
    padding-top: 5px;
    color: #58687a; }
  .outline li p:nth-of-type(2) {
    font-weight: bold; }
  .outline li span {
    opacity: 0.5; }
  .outline li input[type="number"] {
    height: 40px;
    width: 60px;
    text-align: center;
    font-size: 18px;
    color: #333; }

.average {
  color: #DF810A !important; }

.good {
  color: #07A817 !important; }

.cards > li, .cards .exercise-box {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  list-style-type: none; }

.notification {
  color: #ffffff;
  position: fixed;
  top: 40px;
  z-index: 100;
  width: 100%;
  visibility: hidden;
  transition: all 300ms cubic-bezier(0.755, -0.46, 0.195, 1.425); }
  .notification span {
    padding: 10px;
    background: #58687a;
    width: 50%;
    min-width: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); }
  .notification.show {
    top: 70px;
    visibility: visible; }

form input,
form select,
form textarea {
  border: 1px solid #818c98;
  background-color: #ffffff;
  border-radius: 5px;
  color: #818c98;
  font-size: 1.1rem;
  width: 100%;
  height: 64px;
  text-indent: 10px; }

.invisible {
  display: none !important; }

main {
  overflow-x: hidden; }

main > div {
  position: relative;
  display: flex;
  transition: 0.2s ease-in-out;
  transform: translateZ(0);
  left: 0;
  overflow: hidden; }

main > div > section:first-child {
  border-right: 1px solid #333; }

main > div > section {
  margin-top: 55px; }

.onboarding {
  margin: 0;
  background-color: #08C1CF;
  position: relative; }
  .onboarding .wrap {
    margin-top: 20px; }
  .onboarding h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2em; }
  .onboarding form input {
    margin-top: 10px;
    font-family: "Open Sans", helvetica, sans-serif; }
  .onboarding form p {
    text-align: center;
    color: #ffffff; }
  .onboarding form .no-code {
    margin-top: 20px; }
  .onboarding form .button {
    margin-top: 10px;
    margin-top: 20px; }
  .onboarding form .error {
    height: 44px;
    margin-top: 20px; }
  .onboarding form .discretion {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    font-size: 0.8em; }
    .onboarding form .discretion strong {
      font-size: inherit; }
  .onboarding .tutorial-question {
    padding-top: 50%; }
    .onboarding .tutorial-question p {
      font-size: 1.6em;
      text-align: center;
      color: #ffffff; }
      .onboarding .tutorial-question p strong {
        font-size: inherit; }
    .onboarding .tutorial-question form {
      display: flex;
      justify-content: space-between; }
      .onboarding .tutorial-question form .button {
        width: 34%; }

.timeline {
  margin-left: 20px;
  min-height: 40px;
  border-left: dashed 2px rgba(0, 0, 0, 0.1); }

.day > h3 {
  font-size: 15px;
  color: #333;
  font-weight: 400;
  margin: 15px 0px; }
  .day > h3 span {
    opacity: 0.5; }

.today > h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600; }

.exercise-box {
  height: 90px;
  background-color: #ffffff;
  display: inline-block; }

.exercise-line {
  width: 60px;
  display: inline-block;
  height: 45px;
  flex: 0 0 60px;
  border-bottom: dashed 2px rgba(0, 0, 0, 0.1); }

.exercise-line::before {
  content: "";
  width: 31px;
  height: 31px;
  border-radius: 100px;
  margin-left: -17px;
  margin-top: 30px;
  display: block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
  background-color: #ffffff; }

#scheme {
  background-image: url(../resources/img/background-main.png); }

.scheme {
  position: relative; }
  .scheme .button {
    width: 100%; }
  .scheme .scroll-box {
    overflow-y: scroll;
    transform: translateZ(0);
    padding: 0 15px; }
  .scheme .exercise {
    display: flex;
    padding: 10px 0px;
    position: relative;
    color: #333; }
    .scheme .exercise h3, .scheme .exercise p {
      margin-top: -4px; }
    .scheme .exercise .exercise-duration,
    .scheme .exercise .exercise-indicator,
    .scheme .exercise .exercise-name {
      opacity: 0.4; }
    .scheme .exercise .exercise-name {
      margin-top: 14px;
      display: block;
      margin-left: 14px;
      display: flex;
      height: 17px; }
      .scheme .exercise .exercise-name h3 {
        font-size: 16px;
        display: inline-block; }
    .scheme .exercise .exercise-duration {
      margin-top: 22px;
      margin-left: 14px;
      display: block;
      display: flex;
      height: 17px; }
      .scheme .exercise .exercise-duration p {
        display: inline;
        font-size: 14px;
        margin-top: -1px; }
      .scheme .exercise .exercise-duration p::before {
        content: '';
        background-image: url(../resources/img/clock-dark.svg);
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 6px;
        position: relative;
        top: 4px; }
    .scheme .exercise .exercise-indicator {
      position: absolute;
      right: 20px;
      top: 47px;
      background-image: url(../resources/img/info-dark.svg);
      background-size: 22px;
      opacity: 0.5;
      width: 22px;
      height: 22px;
      background-repeat: no-repeat; }
  .scheme .today .exercise-indicator {
    background-image: url(../resources/img/caret-right-dark.svg);
    opacity: 0.5;
    background-size: 10px;
    width: 10px;
    height: 18px;
    right: 20px;
    top: 47px; }
  .scheme .today .exercise-duration,
  .scheme .today .exercise-name {
    opacity: 1; }
  .scheme .exercise.done {
    color: #ffffff; }
    .scheme .exercise.done .exercise-duration p::before {
      background-image: url(../resources/img/clock-light.svg); }
    .scheme .exercise.done .exercise-indicator {
      display: none; }
    .scheme .exercise.done .exercise-box {
      background-color: #08C1CF; }
    .scheme .exercise.done .exercise-line::before {
      background-color: #08C1CF;
      background-image: url(../resources/img/check-light.svg);
      background-size: 19px;
      background-position: 6px;
      background-repeat: no-repeat; }
  .scheme .scheme-settings {
    background-color: #f1f1f1; }
    .scheme .scheme-settings .cards > li {
      background-color: #ffffff;
      margin-top: 20px; }
    .scheme .scheme-settings .cards > li:nth-of-type(1) {
      margin-top: 10px;
      background-color: transparent;
      box-shadow: none; }

.button-nav-edit {
  visibility: visible;
  transform: scale(1);
  background-color: #08C1CF;
  overflow: hidden;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  position: absolute;
  border-radius: 100px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  display: block;
  z-index: 2; }
  .button-nav-edit img,
  .button-nav-edit button {
    width: 25px;
    height: 25px;
    top: 18px;
    left: 18px;
    position: relative; }
  .button-nav-edit .button-nav-edit-content {
    display: block;
    overflow: hidden;
    padding: 20px;
    opacity: 0;
    position: relative;
    top: 20px; }
  .button-nav-edit.invisible-state {
    transform: scale(0.1);
    bottom: 0; }
  .button-nav-edit.open {
    background-color: #ffffff; }
    .button-nav-edit.open .button-nav-edit-content {
      transition: all 300ms cubic-bezier(0.755, -0.46, 0.195, 1.425);
      transition-delay: 160ms;
      opacity: 1;
      top: 0;
      overflow: scroll; }

.exercise-screen.active .breather svg .active-ring {
  animation-direction: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: tighten;
  animation-duration: 4s; }
.exercise-screen.active .breather .countdown-number:before {
  content: "Vasthouden";
  color: #cf3b0d; }
.exercise-screen.active .breather svg .active-ring {
  stroke: #cf3b0d; }

.exercise-screen {
  position: relative;
  padding: 0 15px; }
  .exercise-screen .top {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    position: relative; }
    .exercise-screen .top .exercise-name {
      font-size: 22px;
      color: #08C1CF;
      width: 100%;
      text-align: center; }
  .exercise-screen .information {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 21px;
    top: 14px; }
  .exercise-screen .breather {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .exercise-screen .breather .countdown {
      position: relative;
      margin: auto;
      height: 220px;
      width: 220px;
      text-align: center; }
    .exercise-screen .breather .countdown-number {
      color: #cf3b0d;
      display: inline-block;
      line-height: 40px;
      z-index: 3;
      position: relative;
      font-size: 50px;
      font-family: "Open Sans", helvetica, sans-serif;
      font-weight: 700;
      top: 68px; }
    .exercise-screen .breather .countdown-number:before {
      content: "Druk op start";
      position: relative;
      text-align: center;
      z-index: 4;
      font-size: 14px;
      font-weight: bold;
      display: block;
      color: #333; }
    .exercise-screen .breather svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 220px;
      height: 220px;
      transform: rotateY(-180deg) rotateZ(-90deg) scale(1);
      transition: 0.7s ease-in-out; }
    .exercise-screen .breather svg .active-ring {
      stroke-dasharray: 566px;
      stroke-dashoffset: 0px;
      stroke-width: 30px;
      stroke: #333;
      fill: none; }
    .exercise-screen .breather svg .background-ring {
      stroke-dasharray: 566px;
      stroke-dashoffset: 0px;
      stroke-width: 30px;
      stroke: rgba(0, 0, 0, 0.1);
      fill: #ffffff; }
    .exercise-screen .breather .remaining-time {
      font-size: 1.4rem;
      color: #333;
      text-align: center;
      padding: 10px; }
    .exercise-screen .breather .remaining-time span {
      font-weight: 700;
      font-size: 1.4rem; }
@keyframes tighten {
  from {
    stroke-dashoffset: 0px; }
  to {
    stroke-dashoffset: 565px; } }
@keyframes relax {
  from {
    stroke-dashoffset: 0px; }
  to {
    stroke-dashoffset: 565px; } }
  .exercise-screen .breather.precount svg .active-ring {
    stroke: #afafaf; }
  .exercise-screen .breather.precount svg {
    transform: rotateY(-180deg) rotateZ(-90deg); }
  .exercise-screen .breather.precount .countdown-number {
    color: #333; }
  .exercise-screen .breather.precount .countdown-number:before {
    content: 'Bereid je voor!';
    color: #333; }
  .exercise-screen .breather.release svg .active-ring {
    stroke: #08C1CF; }
  .exercise-screen .breather.release svg {
    transform: rotateY(-180deg) rotateZ(-90deg); }
  .exercise-screen .breather.release .countdown-number {
    color: #08C1CF; }
  .exercise-screen .breather.release .countdown-number:before {
    content: 'Ontspannen';
    color: #08C1CF; }
  .exercise-screen .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; }
    .exercise-screen .controls .button {
      width: 34%; }

.button-settings {
  text-align: right;
  margin: 10px 0 30px 0;
  font-weight: 700;
  right: 6px;
  position: relative;
  color: #08C1CF; }
  .button-settings:after {
    content: '';
    background-image: url(../resources/img/settings.svg);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    top: 9px;
    left: 6px; }

.feedback {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 11; }
  .feedback h4 {
    color: #ffffff;
    font-size: 1.8rem; }
  .feedback p {
    color: #ffffff;
    margin-top: 40px;
    text-align: center; }
  .feedback > div {
    margin-top: 40px;
    z-index: 11; }
  .feedback h2 {
    text-align: center;
    padding-top: 10px; }
  .feedback textarea {
    box-sizing: border-box;
    padding: 10px; }
    .feedback textarea::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #aaa; }
    .feedback textarea.open {
      height: 240px; }
  .feedback .hidden-textarea {
    max-height: 310px;
    transition: ease-in-out 200ms; }
  .feedback .hidden-textarea.invisible {
    display: block !important;
    max-height: 50px; }
  .feedback select {
    width: 100%;
    height: 64px;
    margin: 14px 0;
    text-indent: 10px; }
  .feedback .button {
    z-index: 11;
    position: relative;
    margin-top: 10px; }

.information-screen img {
  max-width: 100%; }
.information-screen li {
  margin: 10px 0; }

.checkmark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #08C1CF;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }

.checkmark {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  display: block;
  stroke-width: 5px;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0 auto;
  box-shadow: inset 0px 0px 0px #08C1CF;
  animation: fill .3s ease-in-out .3s forwards, scale .3s ease-in-out .7s both; }

.checkmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards; }

.absolute-wrapper.active .checkmark {
  top: 200px; }

.popup {
  display: block;
  visibility: hidden;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 11;
  left: 0;
  top: 100px;
  height: 92vh;
  transition: all 300ms ease-in-out;
  opacity: 0;
  overflow: scroll; }
  .popup .popup-inner {
    position: relative;
    top: 10px;
    transition: all 300ms ease-in-out; }
  .popup.open {
    opacity: 1;
    top: 0px;
    visibility: visible; }
  .popup.dark {
    background-color: #08C1CF; }

@keyframes stroke {
  100% {
    stroke-dashoffset: 565px; } }
@keyframes scale {
  0%, 100% {
    transform: none; }
  50% {
    transform: scale3d(1.1, 1.1, 1); } }
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 50px #08C1CF; } }
@keyframes flyUp {
  0% {
    top: 40px;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
.flyUp {
  animation: flyUp 200ms ease-in-out;
  position: relative; }

.shine {
  position: relative;
  z-index: 0; }

.shine i {
  /* positioning */
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;
  /* gradient */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.03)), color-stop(30%, rgba(255, 255, 255, 0.85)), color-stop(50%, rgba(255, 255, 255, 0.85)), color-stop(70%, rgba(255, 255, 255, 0.85)), color-stop(71%, rgba(255, 255, 255, 0.85)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
  /* forming the shine element
      play around with the width, skew and gradient to get different effects
    */
  width: 15%;
  height: 100%;
  transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  -moz-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  -o-transform: skew(-10deg, 0deg);
  /* animating it */
  animation: move 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  -webkit-animation: move 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
  -moz-transform: skew(-10deg, 0deg);
  -moz-animation: move 1.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-delay: 0.5s;
  -ms-transform: skew(-10deg, 0deg);
  -ms-animation: move 1.5s;
  -ms-animation-iteration-count: 1;
  -ms-animation-delay: 0.5s;
  -o-transform: skew(-10deg, 0deg);
  -o-animation: move 1.5s;
  -o-animation-iteration-count: 1;
  -o-animation-delay: 0.5s; }

/* */
@keyframes move {
  0% {
    left: -10%;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.4; }
  80% {
    opacity: 0.0; }
  100% {
    left: 92%; } }
@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.4; }
  80% {
    opacity: 0.0; }
  100% {
    left: 82%; } }
@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.4; }
  80% {
    opacity: 0.0; }
  100% {
    left: 88%; } }
@-ms-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.4; }
  80% {
    opacity: 0.0; }
  100% {
    left: 82%; } }
@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.4; }
  80% {
    opacity: 0.0; }
  100% {
    left: 82%; } }
#stats {
  display: block; }
  #stats .button {
    width: 100%; }
  #stats .stats {
    position: relative; }
  #stats .graph {
    overflow-x: scroll;
    display: block;
    height: 430px;
    position: relative;
    transform: traslateZ(0); }
    #stats .graph .graph-background {
      width: 100%;
      height: 430px;
      background-color: #08C1CF;
      display: block;
      position: absolute; }
    #stats .graph .graphSVG {
      position: absolute;
      bottom: 55px; }
      #stats .graph .graphSVG g {
        opacity: 0.4; }
    #stats .graph .line-canvas {
      display: block;
      position: absolute;
      bottom: 55px;
      z-index: 1; }
      #stats .graph .line-canvas span {
        width: 1px;
        background-color: #fff;
        display: inline-block;
        margin-left: 74px;
        transition: all 300ms cubic-bezier(0.755, -0.46, 0.195, 1.425); }
        #stats .graph .line-canvas span:nth-of-type(1) {
          margin: 0 !important; }
        #stats .graph .line-canvas span::before {
          content: '';
          width: 10px;
          height: 10px;
          top: -5px;
          left: -6px;
          display: block;
          border: 2px solid #ffffff;
          background-color: #08C1CF;
          border-radius: 100%;
          position: relative;
          transition: ease-in-out 0.1s;
          z-index: 1; }
        #stats .graph .line-canvas span::after {
          content: '';
          transition: ease-in-out 0.1s;
          border: none;
          border-color: rgba(255, 255, 255, 0);
          width: 0;
          height: 0;
          position: absolute;
          bottom: 0; }
        #stats .graph .line-canvas span.active::before {
          width: 50px;
          height: 50px;
          top: -25px;
          left: -26px; }
        #stats .graph .line-canvas span.active::after {
          display: block;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 18px solid #ffffff;
          margin-left: -20px;
          z-index: 0; }
    #stats .graph .dates {
      bottom: 55px;
      height: 30px;
      z-index: 2;
      width: 100%;
      background-color: #e3f0f5;
      position: absolute;
      display: block;
      padding-top: 3px; }
      #stats .graph .dates p {
        text-align: center;
        width: 106px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        display: inline-block;
        padding: 3px 0 0 0;
        margin: 0; }
      #stats .graph .dates p:first-child {
        width: 53px;
        border: none; }
  #stats .vas-results {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    z-index: 2;
    max-height: 150px;
    overflow: scroll;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); }
    #stats .vas-results .vas-grade {
      text-align: center;
      font-size: 30px;
      color: #08C1CF; }
    #stats .vas-results > p {
      position: absolute;
      color: #333;
      right: 15px;
      top: 15px; }
    #stats .vas-results > div {
      margin: 10px;
      border: 1px solid #333;
      border-radius: 2px;
      padding: 10px; }
      #stats .vas-results > div p {
        color: #333; }

.progression {
  color: #58687a; }
  .progression .progression-bar p {
    text-align: center; }
  .progression .progression-bar .progression-bar-box {
    height: 50px; }
    .progression .progression-bar .progression-bar-box span {
      display: block;
      position: relative; }
    .progression .progression-bar .progression-bar-box .bar-full {
      background: #08C1CF;
      z-index: 1;
      width: 73%;
      border-radius: 4px 0 0 4px;
      height: 30px; }
    .progression .progression-bar .progression-bar-box .bar-empty {
      background: #f1f1f1;
      z-index: 0;
      width: 100%;
      top: -30px;
      border-radius: 4px;
      border: 1px solid #818c98;
      height: 28px; }
    .progression .progression-bar .progression-bar-box p {
      text-align: center;
      position: relative;
      top: -57px;
      z-index: 2;
      color: #ffffff;
      font-weight: bold; }
  .progression .progression-unlock {
    width: 100%;
    height: 200px;
    background: #f1f1f1;
    display: block; }
    .progression .progression-unlock > p {
      font-weight: bold;
      font-size: 1.2em;
      color: #000000; }
    .progression .progression-unlock .progression-unlock-container {
      overflow: hidden;
      width: 200%; }
      .progression .progression-unlock .progression-unlock-container > div {
        max-width: 80px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: top; }
        .progression .progression-unlock .progression-unlock-container > div img {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          background-color: #f1f1f1;
          border: 2px solid #08C1CF;
          box-sizing: border-box; }
        .progression .progression-unlock .progression-unlock-container > div p {
          display: block;
          text-align: center; }
      .progression .progression-unlock .progression-unlock-container .locked {
        filter: grayscale(100%); }
        .progression .progression-unlock .progression-unlock-container .locked img {
          opacity: 0.3; }

.profile .outline p:nth-of-type(2):after {
  content: '';
  background-image: url(../resources/img/caret-right-dark.svg);
  background-size: 7px;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  display: inline-block;
  position: relative;
  top: 4px;
  left: 6px; }

/*# sourceMappingURL=style.css.map */
