
$color-4: #333;
$color-5: rgba(0,0,0,0.1);
$color-6: #e3e3e3;

$background: #94D5D9;
$input-background: #f1f1f1;

$semidark: #aaa;
$border-light: rgba(0,0,0,0.1);

$color-1: #04C7D5;
$color-2: #818c98;
$color-3: #58687a;

$white: #ffffff;
$black: #000000;

$background-light: #f1f1f1;

$separation-border: #d0d0d0;

$breather-active: #cf3b0d;
