$color-1: #3ca3c7;
$color-2: #aa3b71;
$color-3: #f6f6f6;
$color-4: #333;
$color-5: rgba(0,0,0,0.1);
$color-6: #e3e3e3;

$background: #94D5D9;
$input-background: #f1f1f1;
$white: #ffffff;
$border-light: rgba(0,0,0,0.1);