$color-1: #f57d2a;
$color-2: #149fd0;
$color-3: #336e89;
$color-4: #818c98;
$color-5: #cccfd2;
$color-6: #58687a;

$background: #eceef0;
$input-background: #f1f1f1;
$white: #ffffff;
$border-light: #cacaca;