$color-1: #2c7b7d;
$color-2: #9e4b7b;
$color-3: #4f253d;
$color-4: #7e7e7e;
$color-5: #b2b4b6;
$color-6: #398285;

$background: #c0e2e3;
$input-background: #f1f1f1;
$white: #ffffff;
$border-light: #9ebbbc;