.login-screen {
	background-color: $color-1;

	.wrap {
		margin-top: 20px;
	}

	h3 {
		text-align: center;
		color: $white;
		font-size: 2em;
	}

	.step {
		text-align: center;
		margin-top: 10px;
    	opacity: 0.6;
	}

	input {
		margin-top: 10px;
		font-family: $regular;
	}

	p, a {
		text-align: center;
		color: $white;
	}

	.no-code {			
		margin-top: 20px;
	}

	.button {
		margin-top: 10px;
		margin-top: 20px;
	}

	.error {
		height: 44px;
		margin-top: 20px;
	}

	.discretion {
		position: absolute;
		bottom: 20px;
		width: calc(100% - 40px);
		font-size: 0.8em;

	strong {
		font-size: inherit;
	}
}

	.login {

		.checkmark {
			margin-top: 20px;
		}
		label {
			color: $white;
		}

		form {
			margin-top: 30px;

			div {
				display: flex;
				justify-content: space-between;
			}

			.button {
				width: 34%;
			}
		}

		.go-to-login {
			text-decoration: underline;
			text-align: center;
			width: 100%;
		    display: block;
		    margin-top: 30px;
		}
	}

	.tutorial-question {
		padding-top: 50%;

		p {
			font-size: 1.6em;
			text-align: center;
			color: $white;

			strong {
				font-size: inherit;
			}
		}

		form {
			display: flex;
			justify-content: space-between;

			.button {
				width: 34%;
			}
		}
	}
}