// NAVIGATION
.button-nav img,
.button-nav button {
	width: 25px;
	height: 25px;
}

.button-nav-main{
	z-index: 3;
	right: 16px;
	padding: 10px;
	top: 5px;
	position: absolute;
	transition: $bouncy;
}

nav{
	width: 100%;
	height: 55px;
	background-color: $white;
	position: fixed;
	top:0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.19);

	h1 {
		font-size: 1.1rem;
		margin-top: 15px;
    	color: $color-4;
    	font-weight: 700;
    	z-index: 1;
    	position:relative;
	}
	
	h1:before {
	    content: "";
	    background-image: url(../resources/img/arrow-left.svg);
	    width: 24px;
	    background-size: 20px;
	    display: inline-block;
	    height: 15px;
	    margin-right: 10px;
	    background-repeat: no-repeat;
	    margin-left: -15px;
	    transition: 0.2s ease-in-out;
	    opacity: 0;
	}

	.is-sub:before {
		margin-left: 20px;
		opacity: 1;
	}

	.menu {
		ul {
		    height: 0px;
	    	background: $white;
	    	border-top: 1px solid $separation-border;
	    	margin-top: 15px;
	    	display: flex;
	    	justify-content: space-around;
	    	z-index: 0;
	    	transform: scaley(0);
	    	transform-origin: 0 0;
	    	transition: $screen-transition;
	    	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.19);

	    	.button-nav {
	    		display: inline-block;
	    		width: 32%;
	    		text-align: center;
	    		padding-top: 10px;
	    	}
		}
	}

	&.active {
		ul {
			transform: scaley(1);
			height: 70px;
		}
	}
}

.tcon {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 25px;
	transition: $bouncy;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 25px;
	background: transparent;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent; 
}

.tcon > * {
	display: block; 
}

.tcon:hover, .tcon:focus {
	outline: none; 
}

.tcon::-moz-focus-inner {
	border: 0; 
}

.tcon-menu__lines {
	display: inline-block;
	height: 3.71429px;
	width: 25px;
	border-radius: 2.85714px;
	transition: $bouncy;
	background: $color-4;
	position: relative; 
}

.tcon-menu__lines::before, .tcon-menu__lines::after {
	display: inline-block;
	height: 3.71429px;
	width: 25px;
	border-radius: 2.85714px;
	transition: $bouncy;
	background: $color-4;
	content: '';
	position: absolute;
	left: 0;
	-webkit-transform-origin: 2.85714px center;
	transform-origin: 2.85714px center;
	width: 100%; 
}

.tcon-menu__lines::before {
	top: 10px; 
}

.tcon-menu__lines::after {
    top: -10px; 
}

.tcon-transform .tcon-menu__lines {
	-webkit-transform: scale3d(0.8, 0.8, 0.8);
	transform: scale3d(0.8, 0.8, 0.8); 
}

.tcon-menu--xcross {
	width: auto; 
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
	background: transparent; 
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	top: 0;
	left: -5px;
	width: 35px; 
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg); 
}

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg); 
}

.tcon-visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; 
}
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; 
}

// END NAVIGATION
