.popup {
	display: block;
	visibility: hidden;
	background-color: $white;
	position: absolute;
	width: 100%;
	z-index: 11;
	left: 0;
    top: 100px;
	height: 92vh;
	transition: $ease;
	opacity: 0;
	overflow: scroll;

	.popup-inner {
		position: relative;
		top: 10px;
		transition: $ease;
	}

	&.open {
		opacity: 1;
		top: 0px;
		visibility: visible;
	}
}



