.popup {
	display: block;
	visibility: hidden;
	background-color: $white;
	position: absolute;
	width: 100%;
	z-index: 11;
	left: 400px;
    top: 0px;
	height: 92vh;
	transition: $ease;
	opacity: 1;
	overflow: scroll;

	.popup-inner {
		position: relative;
		top: 10px;
		transition: $ease;
	}
}

.popup.open {
	opacity: 1;
	left: 0;
	visibility: visible;	
}

.popup.dark {
	background-color: $color-1;
}



