.profile {
	.outline{
		p:nth-of-type(2):after{
		    content: '';
		    background-image: url(../resources/img/caret-right-dark.svg);
		    background-size: 7px;
		    background-repeat: no-repeat;
		    height: 15px;
		    width: 15px;
		    display: inline-block;
		    position: relative;
		    top: 4px;
		    left: 6px;
		}
	}
}